.css-vdn3kh{
    display: block;
}

.mainBlock{
    box-sizing: border-box;
    border: 2px solid rgb(205, 215, 243);
    padding: 10px;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
    display: block;
}

.projectName{
    position: relative;
    color: rgb(77, 149, 243);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 100px;
}

.nameBlock{
    font-size: 30px;
    margin: 0px 20px;
}

.appName{
    font-size: 20px;
}

.button{
    margin: 0 10px;
}

.line{
    border: none;
    background-color: rgb(205, 215, 243);
    height: 2px;
}

.informHead{
    color: rgb(77, 149, 243);
    width: 100%;
    margin-top: 10px;
}

/* .approvalInf{
    display: inline-flex;
} */

.textbord{
    padding: 15px 10px;
    margin: 0;
    margin-right: 20px;
    

}

.headText{
    font-size: 25px;
}

.tablebox{
    margin-top: 10px;
}

.listName{
    text-align: center;
    color: rgb(77, 149, 243);
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    font-size: 25px;
}

table.iksweb{
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    color:rgb(77, 149, 243);
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid rgb(191, 205, 243);
    
}
table.iksweb td,table.iksweb th {
	width: 30px;
	height: 35px;
}
table.iksweb th {
	background: #32a9d8; 
	color: #fff; 
	font-weight: normal;
}

.columnName{
    font-size: 20px;
}

.disagree{
    color: red;
}
.agree{
    color: rgb(22, 182, 22);
}

